.sign-page-header  {
    margin-top: 20px;
}

.sign-page-input {
    margin-top: 20px;
}


@media only screen and (max-width:768px){
.sign-page-button{
        margin-left: 20%;
    }
}

.sign-page{
    margin: 0 auto;
    text-align: center;
}

.sign-page-redirection{
    margin-top: 16px;
}

.sign-page-button{
    margin-top: 15px;
    margin-left: 15px;
    background: none repeat scroll 0 0 #66A3D2;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}


