
@media only screen and (max-width:768px){
    .login-page-articlelogin{
        margin-left: 20%;
    }
}

.login-page-header{
    text-align: center;
    font-style: italic;
    margin-top: 5%;
}


.login-page-button{
    margin-top: 15px;
    margin-left: 45%;
    background: none repeat scroll 0 0 #66A3D2;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.login-page-button{
    margin-left: 50%;
}

.login-page-articleinput{
    margin-left: 45%;
    padding-top: 20px;
}

.login-page-link{
    margin-left: 25px;
}

.login-page-form{
    padding-bottom: 15px;
}

