*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("/public/assets/pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    text-align: center;
    font-style: italic;
    margin-top: 5%;
}

.paragraph{
    text-align: center;
    background-color: lightyellow;
    width: 10%;
    margin-left: 45%;

}

