*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("/public/assets/pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    text-align: center;
    font-style: italic;
    margin-top: 5%;
}


.button{
    margin-top: 15px;
    margin-left: 45%;
    background: none repeat scroll 0 0 #66A3D2;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.articlebutton{
    margin-left: 50%;
}

.articleinput{
    margin-left: 45%;
    padding-top: 20px;
}

.link{
    margin-left: 25px;
}

.form{
    padding-bottom: 15px;
}

